package $namespace

#for obj in $objs
var (
	$obj.name.value = struct {
		${",".join([item.name.value for item in obj.values])} int32
} {
		${",".join([str(i) for i in range(0, len(obj.values))])},
	}

	${obj.name.value}Label = []string {
#for label in $obj.labels
		$label,
#end for
	}
)
#end for
