package $namespace

#for obj in $objs
var (
	$obj.name.value = struct {
		${",".join([item.name.value for item in obj.values])} int32
} {
		${",".join([str(item.tag) for item in obj.values])},
	}

	${obj.name.value}Label = map[int32]string {
#for key, label in $obj.labels.items()
		$key: $label,
#end for
	}
)
#end for
