
func (p *$obj.name.value) readField$(field.tag)(iprot thrift.TProtocol) error {
	if v, err := iprot.ReadDouble(); err != nil {
		return fmt.Errorf("error reading field $(field.tag): %s", err)
	} else {
		p.$field.name.value = v
	}
	return nil
}

func (p *$obj.name.value) writeField$(field.tag)(oprot thrift.TProtocol) (err error) {
	if err := oprot.WriteFieldBegin("$field.name.value", thrift.DOUBLE, $field.tag); err != nil {
		return fmt.Errorf("%T write field begin error $field.tag:$field.name.value: %s", p, err)
	}
	if err := oprot.WriteDouble(float64(p.$field.name.value)); err != nil {
		return fmt.Errorf("%T.$field.name.value ($field.tag) field write error: %s", p, err)
	}

	if err := oprot.WriteFieldEnd(); err != nil {
		return fmt.Errorf("%T write field end error $field.tag:$field.name.value: %s", p, err)
	}
	return err
}
