func () (data []*IDLabelPair) {
	objs, _ := $(col)FindAll(nil)
	length := len(objs)
	#if hasattr($field.const_value, 'value')
	length += 1
	#end if
	data = make([]*IDLabelPair, 0, length)
	#if hasattr($field.const_value, 'value')
	data = append(data, &IDLabelPair {"", "", ""})
	#end if
	for _, obj := range(objs) {
		data = append(data, &IDLabelPair {
			ID : obj.ID.Hex(),
			Label : obj.$label,
		})
	}

	return
}
