func () (data []IXuanWuObj, head IXuanWuObj, detailURL string) {
	ids := o.$field.name.value
	records, _ := $(table)FindByIDs(ids)
	length := len(records)
	data = make([]IXuanWuObj, 0, length)
	for _, record := range records {
		data = append(data, IXuanWuObj(record))
	}

	head = IXuanWuObj(New$(table)())
	detailURL = "$metaDetailURL"

	return
}
