func (p *$obj.name.value) readField$(field.tag)(iprot thrift.TProtocol) error {
	if v, err := iprot.ReadBool(); err != nil {
		return fmt.Errorf("error reading field $(field.tag): %s", err)
	} else {
		p.$field.name.value = v
	}
	return nil
}
