//mongo methods

func (o *$obj.name.value) Save() (info *mgo.ChangeInfo, err error) {
	session, col := db.GetCol("$obj.name.value")
	defer session.Close()

	if o.ID == "" {
		o.ID = bson.NewObjectId()
	}

	#for key, fields in $obj.search.iteritems()
	core.Index("$(obj.name.value.lower())", "$(key.lower())", o.ID.Hex(), nil, $(obj.name.value)Search$(key)Obj{
		#for field in fields
		o.$(field),
		#end for
	})
	#end for


	return col.UpsertId(o.ID, o)
}
