
#if hasattr($obj.idField, "viewUrl")
func (o *$obj.name.value) ViewUrl(id string) string {
	return "$$obj.idField.viewUrl" + id
}
#end if

#if hasattr($obj.idField, "summary")
func (o *$obj.name.value) GetSummary() string {
	return o.$obj.idField.summary
}
#end if

