package $namespace

import (
	"encoding/json"

	//Own libs
	"admin"
	m_$(modelsNamespace) "zfw/models/$(modelsNamespace)"
	"github.com/sipin/web"
)

func init() {
	#for field in $obj.fields
	#if hasattr(field, "relateFields")
	web.Get("$(urlBase)/relate/$field.name", $(className)$(field.name)Relate)
	#end if
	#end for
}


#for field in $obj.fields
#if hasattr(field, "relateFields")
func $(className)$(field.name)Relate(ctx *admin.AdminContext) (jsonData string) {
	ID, _ := ctx.Params["ID"]
	if ID != ""{
		data, _ := m_$(modelsNamespace).$(field.bindTable)FindByID(ID)
		if data == nil {
			return
		}
		rtn := map[string]string{}
		#for k, v in $field.relateFields
		rtn["$k"] = data.$(v)Widget().Value
		#end for
		jsonByte, _ := json.Marshal(rtn)
		jsonData = string(jsonByte)
	}
	return
}
#end if
#end for
