
<form role="form">
#for field in $obj.fields
  <div class="form-group">
    <label for="$field.name.value">$field.label</label>
    <input type="text" class="form-control" id="" placeholder="输入 $field.label" value="@obj.$field.name.value">
  </div>
#end for
  <button type="submit" class="btn btn-primary">保存</button>
  <a href="/admin/user" class="btn btn-default pull-right">返回</a>
</form>
